{% extends "base.html" %}

{% load staticfiles %}

{% block references %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/user_profile.css" %}">

{% endblock %}

{% block content %}
    {% comment %}{{ user_profile }}
    <div class="row">
        <div class="col-xs-4"><img style="width: 100%" src="{{ document_root }}/{{ user_profile.avatar }}"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>

    </div>{% endcomment %}


    <div class="container-fluid userContent">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <div class="avatar">
                    <img src="{{ document_root }}/{{ user_profile.avatar }}"
                         class="ava img-responsive">
                </div>
            </div>
            <div class="col-xs-6">
                <p class="disc"><b>{{ user_profile.username }}</b><br>
                {{ user_profile.first_name }}
                {{ user_profile.last_name }}</p>

                <p class="disc">{{ user_profile.city }}<br>
                {{ user_profile.info }}</p>
            </div>
        </div>
        <div class="row rowMargin">
            <div class="col-xs-6 col-xs-offset-4">
                <p class="disc"><b>active offers</b></p>
            </div>
        </div>
        <div class="row rowMargin">
            <div class="col-xs-12 activeOffers">
                {{ user.product.price }}
            </div>
        </div>
    </div>


{% endblock %}