{% extends "base.html" %}
{% comment %}Наследуемся от base.html - базовые стили, всплывающее окно авторизации и т.д.{% endcomment %}


{% comment %}Загрузка статик файлов, css js и так далее{% endcomment %}
{% load staticfiles %}

{% comment %}Здесь подгружаем статик файлы для этого шаблона{% endcomment %}
{% block references %}
    {{ block.super }}
    {% comment %}Добавление css стиля{% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/offer.css" %}">
    {% comment %}Подргружаем js{% endcomment %}
    <script src="{% static 'js/offer.js' %}" type="text/javascript"></script>


{% endblock %}

{% comment %}Здесь непосредственно сам код html{% endcomment %}
{% block content %}
    <div class="container-fluid container-of">
        <div class="row">
            <div class="col-xs-5">
               <div class="imgOffer" ><img onclick="Img(0)" src="{{ offer_image_list.0.image.url }}"></div>
                <div class="imgSmall"><img onclick="Img(1)" src="{{ offer_image_list.1.image.url }}"></div>
                <div class="imgSmall"><img onclick="Img(2)"  src="{{ offer_image_list.2.image.url }}"></div>
            </div>
            <div class="col-xs-7">
                <div class="discription">
                <p class="name"><b>Name:</b> {{ offer.product.name }}</p>
                <p ><b>Описание:</b> {{ offer.description }}</p>
                    </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="inf">
                <p><b>Город:</b> {{ offer.user.city }}</p>
                <p><b>Место встречи:</b> {{ offer.meet_place }}</p>
                <p><b>Цена:</b> {{ offer.price }} руб</p>
                <p><b>Продавец:</b> {{ offer.user.first_name }}</p>
                    </div>
            </div>
        </div>

        {% comment %} код для смены картинок
<script>
    function Img(imgId) {
        var images = [];
        {% for image in offer_image_list %}
            images.push('{{ image }}');
        {% endfor %}
        var img = document.getElementById("imgOfferMain");
        img.src = "/media/"+images[imgId];
    }
</script>
{% endcomment %}
        {% comment %}TODO перенести по нормальному JS код в Offer.js {% endcomment %}

{% endblock %}