{% extends "base.html" %}
{% load querystring %}
{% load main_filters %}
{% load staticfiles %}

{% block references %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/offers.css" %}">
{% endblock %}


{% block content %}

            <form>
                {{ form }}
                <input type="submit">
                 <input type='button' value='Reset' name='reset' onclick="return clearForm(this.form);">

                <script>
                    function clearForm(form) {
                        var $f = $(form);
                        var $f = $f.find(':input').not(':button, :submit, :reset, :hidden');
                        $f.val('').attr('value', '').removeAttr('checked').removeAttr('selected');
                    }
                </script>
            </form>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a class="linkStyle" href="{% querystring page=page_obj.previous_page_number %}">
                            <span>&lt;Previous</span>
                        </a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a class="linkStyle" href="{% querystring page=page_obj.next_page_number %}">
                            <span>Next></span>
                        </a>
                    {% endif %}
                </span>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for offer in object_list %}
                    <a href="/main/offer/{{ offer.pk }}/">
                        <div class="col-xs-6 col-sm-4 col-md-3 linkStyle">
                            <div class="field">
                                {{ offer.product }}
                                <img class="mainImg" src="/media/{{ offer.pk | get_main_image_by_offer }}">
                                <div class="btn btn-default">Перейти к объявлению</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

{% endblock %}