@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}

body * {
    font-family: "Raleway"
}

body {
    font-family: "Raleway";
    background-color: #E6E6E6 !important;
}


a :active{
    text-decoration: none !important;
}
body{
    font-family: 'Raleway', sans-serif;
}
.padding0{
    padding: 0px !important;
}
.margin0{
    margin: 0px !important;
}
.SideBar{
    margin-bottom:0px !important;
    margin-top: 40px;
    min-height: 94vh;
    background-color: #E3EAFF;
    padding: 0px !important;
}
.down{
	position: relative !important;
    width: 90%;
    margin: auto;
}
.search{
    border-radius: 20px !important;
}
.center-txt{
    text-align: center;
}
.logo-group{
    height: 30%;
    width: 30%;
}
#logo-group-margin{
    margin-right: 7%;
}
.link {
    color: black !important;
    text-decoration: none !important;
}
.link:visited {
    color: black !important;
    text-decoration: none !important;
}
.link:hover {
    color: white !important;
    text-decoration: none !important;
}
.link:active{
    color: white !important;
    text-decoration: none !important;
}
.content{
    margin-bottom: 20px;
    margin-top: 40px;
}
.NavbarMy{
    background-color: #8EA8FF;
}
.Sign{
    box-shadow:
    0px 0 5px 0px rgba(0, 0, 0, .09);
    margin-top: 2.5px;
    border-radius: 20px !important;
    min-width: 70px;
}
#SignIn{
    margin-right: 1%;
    background-color: #9BFF8E;
}
#SignUp{
    background-color: #E3EAFF;
}
.btnDropdown{
    background: none !important;
    text-decoration: none !important;
    display: inline-block;
    color: white;
     margin-top:8px;
}
.btnDropdown:visited {
    color: white !important;
    text-decoration: none !important;
}
.btnDropdown:hover {
    color: black !important;
    text-decoration: none !important;
}
.btnDropdown:active{
    color: black !important;
    text-decoration: none !important;
}
.shadow{
    min-height: 100vh;
	box-shadow:
	 0px 0 21px 0px rgba(0, 0, 0, .09),
	 0px 0 21px 0px rgba(0, 0, 0, .09);
}
.strelka{
    width: 13px;
}
.user{
    color: white !important;
    margin-top:5px;
    height:30px;
}
.user:visited {
    color: white !important;
    text-decoration: none !important;
}
.user:hover {
    color: black !important;
    text-decoration: none !important;
}
.user:active {
    color: black !important;
    text-decoration: none !important;
}
.myDropdown{
    display: inline-block;
}

div.shadow>.col-md-10{
    padding-left: 4%;
}
.navbar{
    min-height:40px !important;
}
.avaBlock{
    overflow:hidden;
    height: 30px;
    width:30px;
    border-radius: 100%;
    display: inline-block;
}

.avaName{
    vertical-align:11px;
    display:inline-block;
}

.userwindow{
    padding: 10px 20px 10px 20px;
    display: none;
    top:40px;
    right:4.5%;
    background: #E3EAFF;
    box-shadow:  0px 0px 19px -1px rgba(122,122,122,.2);
    border-radius: 0px 0px 6px 6px;
}

.btn-self{
    background-color: #9BFF8E;
    color: black;
}
.btn-self:hover{
    color: white !important;
}

.btn-logout{
    margin-top: 8px;
    color: black;
    background-color: #8EA8FF;
}
.btn-logout:hover{
    color: white !important;
}