p { font-family: Raleway !important; }
a { font-family: Raleway !important; }
input { font-family: Raleway !important; }
.padding0{
    padding: 0px !important;
}
.margin0{
    margin: 0px !important;
}
.SideBar{
    margin-top: 50px;
    height: 94vh;
    background-color: #E3EAFF;
    padding: 0px !important;
}
.down{
	position:relative;
    width: 90%;
    margin: auto;
	top: 70%;
}
.search{
    border-radius: 20px !important;
}
.center-txt{
    text-align: center;
}
.logo-group{
    height: 30%;
    width: 30%;
}
#logo-group-margin{
    margin-right: 7%;
}
.link {
    color: black !important;
    text-decoration: none !important;
}
.link:visited {
    color: black !important;
    text-decoration: none !important;
}
.link:hover {
    color: white !important;
    text-decoration: none !important;
}
.link:active{
    color: white !important;
    text-decoration: none !important;
}
.content{

    margin-top: 50px;
}
.NavbarMy{
    background-color: #8EA8FF;
}
.Sign{
    box-shadow:
    0px 0 5px 0px rgba(0, 0, 0, .09);
    margin-top: 8px;
    border-radius: 20px !important;
    min-width: 70px;
}
#SignIn{
    margin-right: 1%;
    background-color: #9BFF8E;
}
#SignUp{
    background-color: #E3EAFF;
}
.btnDropdown{
    background: none !important;
    text-decoration: none !important;
    display: inline-block;
    color: white;
}
.btnDropdown:visited {
    color: white !important;
    text-decoration: none !important;
}
.btnDropdown:hover {
    color: black !important;
    text-decoration: none !important;
}
.btnDropdown:active{
    color: black !important;
    text-decoration: none !important;
}
.shadow{
    min-height: 100vh;
	box-shadow:
	 0px 0 21px 0px rgba(0, 0, 0, .09),
	 0px 0 21px 0px rgba(0, 0, 0, .09);
}
.strelka{
    width: 15%;
}
.user{
    color: white !important;
    margin-top:15px;
}
.user:visited {
    color: white !important;
    text-decoration: none !important;
}
.user:hover {
    color: black !important;
    text-decoration: none !important;
}
.user:active {
    color: black !important;
    text-decoration: none !important;
}
.myDropdown{
display: inline-block;
}
.myPills{
    background: #E3EAFF;
    margin-top: 50px;
    height: 94vh;
}
.cities{
    margin-top: 13px;
}
