a{
  color:black;
  text-decoration: none;
}
a:hover{
  color:black;
  text-decoration: none;
}
a:active{
  color:black;
  text-decoration: none;
}
a:visited{
  color:black;
  text-decoration: none;
}
.category{
  margin-top: 6%;
}

.categoryColor{
  display: block;
  color:black;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid #8EA8FF;
  padding-bottom: 2%;
  padding-top: 5%;
  padding-left: 6%;
}

.categoryColor:hover{
  color:white;
  text-decoration: none;
}

.categoryColor:active{
  color:black;
  text-decoration: none;
}

.topProducts{
  overflow:hidden;
  background-color: rgba(227,234,255,.3);
  margin-top:11%;
  width:160px;
  height:215px;
  box-shadow:  0px 0px 19px -1px rgba(122,122,122,.4);
}

.marginContent{
  margin-top:3%;
}

.top{
  font-size: 20px;
}

.mainImg{
  min-height: 150px !important;
  margin-right: 30px;
}
.imgZoom{
    overflow: hidden;
    width:160px;
    height:150px;
}
.description{
  margin: 10px 0px 0px 10px;
}