.sideCategory{
  border-bottom: 1px solid #8EA8FF;
  padding-bottom: 2%;
  padding-top: 5%;
  padding-left: 6%;
}

.category{
  margin-top: 6%;
}

.categoryColor{
  color:black;
  text-decoration: none;
  font-size: 17px;
}

.categoryColor:hover{
  color:white;
  text-decoration: none;
}

.categoryColor:active{
  color:black;
  text-decoration: none;
}
.topEliquids{
  background-color: gray;
  margin-top:11%;
}
.marginContent{
  margin-top:3%;
}

.top{
  font-size: 20px;
}