p{
    line-height: 150%;
}
.imgOffer{
    overflow: hidden;
    height: 300px;

}
.imgSmall{
    width: 48%;
    overflow: hidden;
    display: inline-block;
}
.discription{
    margin-top: 10%;
    margin-left: 2%;
}
.inf{
    margin-top: 4%;
}
.name{
    font-size: 125% ;
}
.container-of{
    margin-top: 2%;
}