.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.container{
    padding: 0;
}
.control-group {
    margin-left: 5px;
}
.col-centered {
    margin: 0 auto;
    float: none;
    color: green;
}
legend {
    margin-bottom: 0;
}
h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: cursive;

}
