.userContent{
    margin-top: 5%;
    margin-right:2.2%;
}

.ava{
     border-radius: 10px;
}

.disc{
    margin-top: 3%;
    font-size: 25px;
}

.rowMargin{
    margin-top:3%;
}

.activeOffers{
    background-color: rgba(155,255,142,.3);
    border: 1px solid darkgrey;
    border-radius: 10px;
}