{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} AMBA site {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css\base.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'components\bootstrap\dist\css\bootstrap.css' %}">

  </head>
  <body>

          {% if user.is_authenticated %}
            <div class="header">
              <div class="row">
                  <div class="col-xs-4">Санкт-Петербург</div>
                  <div class="col-xs-4" align="center"><input class="search" type="text" name="text" size="20" value="" maxlength="100" placeholder="Search"></div>
                  <div class="col-xs-4 user" align="right">
                      {{ user.MyUsername }}
                      <img src="{{ user.avatar.url }}" class="img-rounded">
                      <form action="/main/logout/" method="POST">
                          {% csrf_token %}
                          <input type="submit" value="LogOut">
                      </form>
                  </div>
              </div>
            </div>
          {%else%}
            <div class="header">
              <div class="row">
                  <div class="col-xs-4">Санкт-Петербург</div>
                  <div class="col-xs-4" align="center"><input class="search" type="text" name="text" size="20" value="" maxlength="100" placeholder="Search"></div>

                  <div class="col-xs-4 user" align="right">
                      <form action="/main/" method="POST">
                          {% csrf_token %}
                          {{ form }}
                          <input type="submit" value="Вход"/>
                      </form>
                  </div>

              </div>
            </div>
          {%endif%}

    {% block content %}
    {% endblock %}

  </body>
</html>
